<h1>Listing 3 Dojos</h1>

<% if flash[:success] %>
  <h3><%= flash[:success] %></h3>
<% end %>

<table>
  <thead>
    <tr>
      <th>Coding Dojo Branch</th>
      <th>Street</th>
      <th>City</th>
      <th>State</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <% @dojos.each do |dojo|%>
      <td><%= dojo.branch %></td>
      <td><%= dojo.street %></td>
      <td><%= dojo.city %></td>
      <td><%= dojo.state %></td>
      <td>
        <%= link_to "Show", dojo %> |
        <%= link_to "Edit", edit_dojo_path(dojo)%>
        <%= link_to "Delete", dojo, data: { method: :delete, confirm: "Are you sure?" } %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>

<%= link_to "Add a Dojo", new_dojo_path %>
